::before, ::after, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}
body{
    background-color: black;
}
main{
    background: url(../images/bg-islam.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    filter: grayscale(10%);
    overflow: visible;
    position: absolute;
}

.title{
    font-size: 40px;
    padding: 30px;
}
.line{
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
}

.sectionCity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding-top: 25px;
    cursor: pointer;
}


.sectionCity > h3{
    font-size: 22px;
}
.info, .info__city{
    display: flex;
    align-items: center;
    padding: 15px;
}
.info{
    width: 80vw;
    justify-content: space-between;
}
.date{
    display: flex;
    justify-content: space-between;
}

.card{
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(144, 140, 140, 0.388);
    box-shadow: 0 0 6px #fff;
    height: 300px;
}

.main__content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card > img{
    width: 150px;
    color: #fff;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


#time{
    font-size: 34px;
}

.card > h4{
    font-size: 30px;
    color: orange;
}

.form__section{
    color: #000;
    border-radius: 20px;
    padding: 7px 20px;    
    border: orange 1px solid;
    outline: none;
}
.form__section > option{
    color: #000;

}

