::before, ::after, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}
body{
    background-color: black;
}
main{
    background: url(../images/bg-islam.jpg);
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    background-size: cover;
    filter: grayscale(10%);
    overflow: visible;
    position: absolute;
}

.title{
    font-size: 40px;
    padding: 30px;
}
.line{
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
}

.sectionCity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding-top: 25px;
}


.sectionCity > h3{
    font-size: 22px;
}
.info, .info__city{
    display: flex;
    align-items: center;
    padding: 15px;
}
.info{
    width: 80vw;
    justify-content: space-between;
}
.date{
    display: flex;
    justify-content: space-between;
}










.card{
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(144, 140, 140, 0.388);
    box-shadow: 0 0 6px #fff;
}

.main__content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card > img{
    width: 150px;
    color: #fff;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


#time{
    font-size: 34px;
}

.card > h4{
    font-size: 30px;
    color: orange;
}




























/*Start Section style */

.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: orange;
    opacity:  .7;
    border-radius: 30px;
    
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    color: #000;
    height: 30px;
    font-size: 14px;
  }
  .select-selected{
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;padding-left: 20px;
    cursor: pointer;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: orange;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
/*End Section style */
